<mat-toolbar >
  <button mat-button matSuffix mat-icon-button aria-label="Home" routerLink="/"> 
     <mat-icon >home</mat-icon>
  </button>
  <mat-form-field class="form-field">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="onAnalyse()">
          <mat-icon>search</mat-icon>
        </button>
      <input matInput type="text" placeholder="Write here a word to analyse" [(ngModel)]="value">

      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <button mat-button *ngIf= "!user" routerLink="login">Connection   <mat-icon>perm_identity</mat-icon></button>
  <button mat-button *ngIf= "user" [matMenuTriggerFor]="menu">Admin Account   <mat-icon>keyboard_arrow_down</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item  routerLink="admin/series">Manage Series</button>
    <button mat-menu-item  routerLink="admin/users">Manage Users</button>
    <button mat-menu-item *ngIf= "!user" (click)="logout()">LogOut</button>
  </mat-menu>
</mat-toolbar>