<mat-toolbar >
  <button mat-button matSuffix mat-icon-button aria-label="Home" routerLink="/"> 
     <mat-icon >home</mat-icon>
  </button>
  <mat-form-field class="form-field">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="onAnalyse()">
          <mat-icon>search</mat-icon>
        </button>
      <input matInput type="text" placeholder="Write here a word to analyse" [(ngModel)]="value">

      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <ng-template #anonymousUser>
      <button mat-button routerLink="login">Connection   <mat-icon>perm_identity</mat-icon></button>
    </ng-template>

  <button mat-button *ngIf= "auth.user$ | async as user; else  anonymousUser" [matMenuTriggerFor]="menu">{{user.displayName}}  <mat-icon>keyboard_arrow_down</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item  routerLink="admin/series">Manage Series</button>
    <button mat-menu-item  routerLink="admin/users">Manage Users</button>
    <button mat-menu-item (click)="logout()" routerLink="/">LogOut</button>
  </mat-menu>
</mat-toolbar>