
<form [formGroup] = "serieService.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
          <div class="controles-container">
          
              <input type="hidden" formControlName="$key"> 
  
              <mat-form-field>
                 <input formControlName="title" matInput placeholder="Title*">
                 <mat-error>This field is required!</mat-error>
              </mat-form-field>
  
              <mat-form-field>
                  <input formControlName="year" matInput placeholder="Year">

               </mat-form-field>
  
               <mat-form-field>
                    <input matInput formControlName="imageUrl"  placeholder="Image Url">
                 </mat-form-field>
             
            </div>
      </mat-grid-tile>

      <mat-grid-tile>
          <div class="controles-container">

                <mat-form-field>
                        <mat-select formControlName="genre" placeholder="Genre(s)" multiple>
                               <!--  <mat-option>None</mat-option> -->
                            <ng-container *ngFor="let genre of genreService.array">
                                <mat-option value="{{genre.$key}}">{{genre.name}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>


                <mat-form-field>
                        <textarea matInput
                                  cdkTextareaAutosize
                                  #autosize="cdkTextareaAutosize"
                                  cdkAutosizeMinRows="2"
                                  cdkAutosizeMaxRows="3"
                                  formControlName="summary"
                                  placeholder="Summary"></textarea>
                </mat-form-field>

                <div class= button-row>
                        <button mat-raised-button color="basic" type = "submit" [disabled]="serieService.form.invalid">Submit</button>
                        <button mat-raised-button color="warn" (click)= "onClear()">Clear</button>
                  </div>
          </div>


        
      </mat-grid-tile>

  </mat-grid-list>

</form>